body {
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
    border: 2px solid white;
    padding: 30px;
    background: black;
    border-radius: 15px;
    height: 420px;
}

h2 {
	text-align: center;
	margin-bottom: 40px; 
	color: white;
}
.loginn { 
	position: absolute;
    top: 41%;
    width: 24%;
    left: 38%;
}
.input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: white;
	font-size: 21px;
	padding: 10px; 
	font-family: 'Courier New', Courier, monospace; 

}

button {
	float: right;
    background: limegreen;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 11px;
    border: none;
    width: 19%; 
	font-family: 'Courier New', Courier, monospace;
}
button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
a:hover{
	opacity: .7;
}